.App {
  text-align: center;

  height: auto;



  margin-bottom: 35px;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-item{
  font-size: 20px;


}
#nav {
  margin-left: 80px;
}
.list-group{
  margin-top: 50px;
}
.panel-footer{


background-color:#343a40;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
   height: 30px;
  color: white;
  text-align: center;
}
.navText{
  color: #28a745;
}
.btn-primary{
  position: fixed;

  bottom: 20px;
  vertical-align: middle;

}
.table-wrapper-scroll-y  {
  max-height: 600px;
  height: 600px;
  max-width: 600px;
  margin-bottom: 10px;
  overflow:scroll;




}
.mb-2{
  margin-top: 10px;
}
.mb-1{

}

.led{
  margin-top: 50px;


}
.listi{
  width: 100%;
  height: 60%;
  background:red;
  position: fixed;

}
.form{
  margin-top: 30px;
}
.topcorner{
  position:absolute;
  top:70px;
  right: 10px;
}




#alert {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
 width: 1000px;
  height: 50px;
  margin: auto;
  margin-bottom: 500px;


}

#new{
  align:center;
  margin: auto;
  text-align: center;

  margin-top: 300px;
}
#black{
  background-color:#343a40;
position: fixed;
  left: 0;
 top:0;
  width: 100%;

  color: white;
  text-align: center;

}
#responsive{
  height: inherit;

  width: 100%;

}
#white{
  background-color:#343a40;
 p
  width: 100%;}